
<div class="big-wrapper-center">
  <div class="header text-center"><h1>Welcome to cocktail list</h1> </div>
  <div class="index text-center">
    <% @cocktails.each do |cocktail| %>
      <div class="card col-sm-4" style="width: 18rem;">
        <div class="card-img-top">
        <%= image_tag "greenteahighball.jpg", alt: "greanteahighbal", width: 200 %>
        </div>
        <div class="card-body">
          <h5 class="card-title"> <%= cocktail.name %> </h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="btn btn-success" style="background-color: #FFD972; border-color: #FFD972">
            <%= link_to "details", cocktail_path(cocktail.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button-wrapper">
    <div class="add_new btn btn-success text-center">
      <%= link_to "add a new cocktail", new_cocktail_path %>
    </div>
  </div>
</div>
