
<div class="big-wrapper-center">
  <div class="header text-center"><h1>Welcome to cocktail list</h1>
  </div>
  <div class="index text-center container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="card col-xs-12 col-sm-4">
          <div class="card-img-top">
              <%= image_tag cocktail.photo.url, alt: "", width: 180 %>
          </div>
          <div class="card-body">
            <h5 class="card-title"> <%= cocktail.name %> </h5>
            <div class="btn btn-success add-new">
              <%= link_to "details", cocktail_path(cocktail.id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="button-wrapper">
    <div class="add-new btn btn-success text-center">
      <%= link_to "add a new cocktail", new_cocktail_path %>
    </div>
  </div>
</div>
