
<h1>Welcome to cocktail list</h1>


<% @cocktails.each do |cocktail| %>
 <h2> <%= link_to cocktail.name, cocktail_path(cocktail.id) %> </h2>
  <% end %>

<%= link_to "add a new cocktail", new_cocktail_path %>

