// Specific CSS for your home-page

body {
  background-color: #ADD8D6;
}

.header{
  margin-bottom: 50px;
}

.index {
  // width:70%;
}

.big-wrapper-center {
  padding-top: 150px;
}

.add-new button{
  border: none;
}

.add-new a{
  color: white;
}

.button-wrapper{
  margin-top: 30px;
}
