.new-box-body {
  display: flex;
  justify-content: center;
  text-align: left;
}

.new-form-body {
  margin-top: 300px;
  padding: 10px;
}

#cocktail_photo  {
  margin: 20px 0px;
}

.cocktail_photo {
  margin-top: 20px;
}

.dose-new {
  margin: 200px;
  padding: 20px;
  text-align: left;
}

.dose_ingredient{
  margin:15px;
}
