.index{
  display: flex;
  justify-content: center;
  height: auto;
}

.card {
  margin: auto;
}

.add_new {
  background-color:#278f75;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}

.big-wrapper-center img{
  height: 180px;
}
